{% extends "layouts/base.njk" %}

{% block head %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "author": {
        "@type": "Person",
        "name": "{{ metadata.author.name }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ metadata.author.name }}",
        "logo": "/img/h5g-sq-512.png"
      },
      "headline": "{{ content | excerpt }}",
      "datePublished": "{{ page.date | dtAsISO }}",
      "mainEntityOfPage": "{{ metadata.url }}",
      "image": "{% if image %}{{ image | url }}{% else %}/img/h5g-sq-512.png{% endif %}"
    }
  </script>
  <meta name="twitter:title" content="{{ content | excerpt }}">

{% endblock %}

{% block content %}

  <article class="blog-post">
    <p class="blog-post-meta mb-1">
      <span class="text-secondary">By</span>
      <a href="/about/" rel="author">{{ metadata.author.name }}</a>
      &nbsp;<span class="text-muted">|</span>&nbsp;
      <span class="text-secondary">On</span>
      <a href="{{page.url}}">
        <time datetime="{{ page.date | htmlDateString }}">
          {{ page.date | readableDate }}
        </time></a>
      &nbsp;<span class="text-muted">|</span>&nbsp;
      <span class="text-secondary">In</span>
      <a href="/tweets/">
        Archived Tweets
      </a>
    </p>
    <p class="blog-post-meta">
      <span class="text-secondary hidden">Tagged </span>
      {% if is_reply %}
        <a class="me-1" href="https://twitter.com/{{ in_reply_to_user }}/status/{{ in_reply_to_id }}"><span class="badge rounded-pill bg-primary">Reply</span></a>
      {% endif %}
      {% if is_retweet %}
        <span class="badge rounded-pill bg-primary">Retweet</span>
      {% endif %}
      {%- for tag in hashtags -%}
        <span class="badge rounded-pill bg-secondary">#{{ tag }}</span>&nbsp;
      {%- endfor %}
    </p>

    {{ content | safe }}

    <p class="blog-post-meta">
      <span class="text-secondary">Retweets</span>
      {{ retweet_count }}
      &nbsp;<span class="text-muted">|</span>&nbsp;
      <span class="text-secondary">Favorites</span>
      {{ favorite_count }}
    </p>

    <div class="share-this-container hidden" id="web-share-container">
      <button class="btn btn-primary btn-sm align-top" id="web-share-button">Share</button>
    </div>

    {%- set nextPost = collections.tweets | getNextCollectionItem(page) %}
    {%- set previousPost = collections.tweets | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
    <hr class="mt-4">
    <div class="row post-pagination-container">
      <div class="col">
        {%- if nextPost %}
          <div>
            <a href="{{ nextPost.url | url }}" rel="next">Next</a>
          </div>
        {% endif %}
      </div>
      <div class="col text-end">
        {%- if previousPost %}
          <div>
            <a href="{{ previousPost.url | url }}" rel="prev">Previous</a>
          </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </article>

{% endblock %}

{% block last_script %}
<script>
  async function onWebShare() {
    let result = 'success';
    try {
      const opts = {
        title: "{{ content | excerpt }}",
        url: window.location.toString(),
      };
      await navigator.share(opts);
      console.log('Shared');
    } catch (ex) {
      result = 'failed';
      console.log('Share failed', ex);
    }
    gtag('event', result, {
      event_category: 'share',
      event_label: '{{ page.url }}'
    });
  }

  if (navigator.share) {
    const shareButton = document.getElementById('web-share-button');
    shareButton.addEventListener('click', onWebShare);
    const shareContainer = document.getElementById('web-share-container');
    shareContainer.classList.remove('hidden');
  }
</script>
{% endblock %}
