<div class="container-fluid mast-head-title-container">
  <header class="mast-header">
    <h1 class="row flex-nowrap text-center">
      <a href="/">{{ metadata.title }}</a>
    </h1>
    <div class="row flex-nowrap text-center">
      <p class="mast-description lead">{{ metadata.description }}</p>
    </div>
  </header>
</div>
<div class="container-fluid mast-head-nav-container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      {%- for item in collections.all | eleventyNavigation %}
        <a class="p-2 {% if page.url == item.url %} active {% endif %}" href="{{ item.url }}">{{ item.title }}</a>
      {%- endfor %}
    </nav>
  </div>
</div>
