<div class="container-fluid px-0">
  <footer class="blog-footer">
    <div class="row g-0">
      <div class="col px-4">
        Pete is a Developer Advocate on the Chrome team, working on PWAs, taking
        the sharp edges off new stuff &amp; helping make the web better for
        developers! 🏳️‍🌈 <span>(he/him)</span>
      </div>
      <div class="col px-4">
        The views and content expressed on this site are mine alone and do not
        necessarily reflect the views of my employer, friends, family or pets.
        Except as otherwise noted, the content of this blog is licensed under
        the Creative Commons Attribution 3.0 License, and code samples are
        licensed under the Apache license.
      </div>
    </div>
    <p class="mt-3 text-center">
      <a class="back-to-top" href="#">Back to top</a>
    </p>
  </footer>
</div>
