<div class="container-fluid px-0">
  <footer class="blog-footer">
    <div class="row g-0">
      <div class="col-md-6 px-4 footer-about">
        Pete LePage was a Developer Advocate on the Chrome team, working on
        PWAs, taking the sharp edges off new stuff &amp; helping make the web
        better for developers! 🏳️‍🌈 <span>(he/him)</span>
      </div>
      <div class="col-md-6 px-4 mt-3 links">
        Pete can be found on
        <a href="https://techhub.social/@petele">Mastadon</a>,
        <a href="https://github.com/petele">GitHub</a>,
        <a href="https://glitch.com/@petele">Glitch</a>,
        <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIDfz8XEA3loxY32tYh7CI3m">YouTube</a>,
        <a href="https://www.linkedin.com/in/petelepage/">LinkedIn</a>,
        and more.
      </div>
      <div class="col-md-6 px-4 footer-caveat">
        The views and content expressed on this site are mine alone and do not
        necessarily reflect the views of my past or current employer(s), 
        friends, family, or pets. Except as otherwise noted, the content of 
        this blog is licensed under the Creative Commons Attribution 3.0 
        License, and code samples are licensed under the Apache license.
      </div>
    </div>
    <div class="row g-0 mt-3 rss-feed text-center">
      <a href="{{ metadata.feed.path }}" title="rss feed">
        RSS Feed
      </a>
    </div>
    <div class="row g-0 mt-3 back-to-top text-center">
      <a class="" href="#">Back to top</a>
    </div>
  </footer>
</div>
