<div class="p-2 mb-2 around-the-web">
  <h2 class="h4">Around the Web</h2>
  <ol class="list-unstyled mb-0">
    <li>
      <a rel="me" href="https://techhub.social/@petele">
        {% include "svg/mastadon.svg" %}
        Mastadon
      </a>
    </li>
    <li>
      <a href="https://github.com/petele">
        {% include "svg/github.svg" %}
        GitHub
      </a>
    </li>
    <li>
      <a href="https://glitch.com/@petele">
        {% include "svg/glitch.svg" %}
        Glitch
      </a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/758037/petele">
        {% include "svg/stack-overflow.svg" %}
        Stack Overflow
      </a>
    </li>
    <li>
      <a href="https://web.dev/authors/petelepage/">
        {% include "svg/web-dot-dev.svg" %}
        web.dev
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIDfz8XEA3loxY32tYh7CI3m">
        {% include "svg/youtube.svg" %}
        New in Chrome
      </a>
    </li>
  </ol>
</div>
