<div class="col-md-4 sidebar">
  <div class="position-sticky" style="top: 0.25rem;">
    {% include "./sidebar-links.njk" %}

    {% include "./sidebar-recent-posts.njk" %}

    {% include "./sidebar-category-list.njk" %}

    {% include "./sidebar-archive.njk" %}
  </div>
</div>
