<div class="p-2 mb-2 around-the-web">
  <h4>Around the Web</h4>
  <ol class="list-unstyled mb-0">
    <li>
      <a href="https://twitter.com/petele">
        {% include "svg/twitter.svg" %}
        Twitter
      </a>
    </li>
    <li>
      <a href="https://github.com/petele">
        {% include "svg/github.svg" %}
        GitHub
      </a>
    </li>
    <li>
      <a href="https://glitch.com/@petele">
        {% include "svg/glitch.svg" %}
        Glitch
      </a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/758037/petele">
        {% include "svg/stack-overflow.svg" %}
        Stack Overflow
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/petelepage/">
        {% include "svg/linkedin.svg" %}
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://web.dev/authors/petelepage/">
        {% include "svg/web-dot-dev.svg" %}
        web.dev
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIDfz8XEA3loxY32tYh7CI3m">
        {% include "svg/youtube.svg" %}
        New in Chrome
      </a>
    </li>
    {# https://web.dev/authors/petelepage/ #}
  </ol>
</div>
