---
pagination:
  data: diveSites.Data
  size: 1
  alias: diveSite
layout: layouts/post.njk
tags:
  - dive site
category: Scuba
permalink: "scuba/{{ diveSite.Data.name | slugify }}.html"
eleventyComputed:
  title: "{{ diveSite.Data.name }}"
---

{% set site = diveSite.Data %}

{% if site.photo %}
<img src="data:image/jpeg;base64,{{site.photo}}" />
{% endif %}

{% if site.waterName %}
<div><b>Body of Water:</b> {{ site.waterName }}</div>
{% endif %}
{% if site.maxDepth %}
<div><b>Max Depth:</b> {{ site.maxDepth | round }}m</div>
{% endif %}
{% if site.altitude %}
<div><b>Altitude:</b> {{ site.altitude }}</div>
{% endif %}
{% if site.difficulty %}
<div><b>Difficulty:</b> {{ site.difficulty }}</div>
{% endif %}
{% if site.rating %}
<div><b>Rating:</b> {{ site.rating }}</div>
{% endif %}

{% if site.gpsLocation %}
<div>
  <b>GPS Coordinates</b><br>
  <b>Lat:</b> {{ site.gpsLocation.latitude | round(6) }}<br>
  <b>Lon:</b> {{ site.gpsLocation.longitude | round(6) }}<br>
  <a href="https://www.google.com/maps/search/?api=1&query={{ site.gpsLocation.latitude }},{{ site.gpsLocation.longitude }}" target="_blank">
    View on Google Maps
  </a>
</div>
{% endif %}

{% if site.comments %}
<p>{{ site.comments }}</p>
{% endif %}

<a id="dlJSON">download</a>

<script>
  const elem = document.getElementById("dlJSON");
  const siteJSON = {
    "Version": 1,
    "FileType": "DiveLogExchange",
    "Program": "DiveLog",
    "Data": {{ diveSite | stringify | safe }},
  };
  const siteString = JSON.stringify(siteJSON);
  const blob = new Blob([siteString], {type: "application/json"});
  elem.href = URL.createObjectURL(blob);
  elem.download = "site.json";
</script>

<!--
{{ diveSite | stringify | safe }}
-->
