---
layout: default
blog: false
---
<h2>{{ page.title }}</h2>

<div class="row">

  <div class="col-md-8">
    <p class="visible-xs">
      <span class="glyphicon glyphicon-time"></span> {{ page.date }}
    </p>
    <article>
      {{ content }}
    </article>

    <div class="pull-left">
      {% if page.prev %}
        <a href="{{ page.prev }}">&larr; Previous</a>
      {% endif %}
    </div>

    <div class="pull-right">
      {% if page.next %}
        <a href="{{ page.next }}">Next &rarr;</a>
      {% endif %}
    </div>
    <div class="clearfix"></div>

    <hr />

    <div>
      {% comment %}
      <!-- Place this tag where you want the share button to render. -->
      <div class="g-plus" data-action="share" data-height="24"></div>

      <!-- Place this tag after the last share tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
      {% endcomment %}
      {% comment %}
      <div class="g-plus" data-action="share" data-height="24" ></div>
      {% endcomment %}
    </div>

    <div id="commentswrap">
      <div id="comments"></div>
    </div>

  </div>

  <div class="col-md-4">
    <div class="panel panel-default post-details">
      <div class="panel-heading">
        <h3 class="panel-title">The Day</h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Date</dt>
          <dd><span class="glyphicon glyphicon-time"></span> {{ page.date }}</dd>
        </dl>
        {% if page.location %}
        <dl>
          <dt>Location</dt>
          <dd><span class="glyphicon glyphicon-map-marker"></span> {{ page.location }}</dd>
        </dl>
        {% endif %}
        <dl>
        {% if page.sunrise %}
        <dl>
          <dt>Sun Rise</dt>
          <dd><span class="glyphicon glyphicon-time"></span> {{ page.sunrise }}</dd>
        </dl>
        {% endif %}

        {% if page.sunset %}
        <dl>
          <dt>Sun Set</dt>
          <dd><span class="glyphicon glyphicon-time"></span> {{ page.sunset }}</dd>
        </dl>
        {% endif %}

        {% if page.distance %}
        <dl>
          <dt>Distance Travelled</dt>
          <dd><span class="glyphicon glyphicon-globe"></span> {{ page.distance | number:N }} km</dd>
        </dl>
        {% endif %}

        
        <dl>
          <dt>Links</dt>
          <dd>
            <span class="glyphicon glyphicon-picture"></span> <a href="#">Photos</a>
            {% if page.expdition_report %}
              <span class="glyphicon glyphicon-picture"></span> <a href="{{page.expedition_report}}">Expedition Report</a>
            {% endif %}
            {% if page.daily_program %}
              <span class="glyphicon glyphicon-picture"></span> <a href="{{page.daily_program}}">Daily Program</a>
            {% endif %}
          </dd>
        </dl>
      </div>
    </div> <!-- meta -->

    {% if page.map_embed %}
    <div class="panel panel-default recent-posts hidden-xs">
      <div class="panel-heading">
        <h3 class="panel-title">Map</h3>
      </div>
      <div class="panel-body" style="padding: 5px;">
        <iframe src="{{ page.map_embed }}" width="100%" height="480" frameborder="0"></iframe>
      </div>
    </div> <!-- recent-posts -->
    {% endif %}

    <div class="panel panel-default recent-posts hidden-xs">
      <div class="panel-heading">
        <h3 class="panel-title">More</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><a href="index.html">About the Trip</a></li>
          <li><a href="dec26.html">December 26 &amp; 27</a></li>
          <li><a href="dec28.html">December 28 &amp; 29</a></li>
          <li><a href="dec30.html">December 30 &amp; 31</a></li>
          <li><a href="jan1.html">January 1</a></li>
          <li><a href="jan2.html">January 2</a></li>
          <li><a href="jan3.html">January 3</a></li>
          <li><a href="jan4.html">January 4</a></li>
          <li><a href="jan5.html">January 5</a></li>
          <li><a href="jan6.html">January 6</a></li>
          <li><a href="jan7.html">January 7 &amp; 8</a></li>
          <li><a href="jan9.html">January 9 &amp; 10</a></li>
        </ul>
      </div>
    </div> <!-- recent-posts -->

    <div class="panel panel-default recent-posts hidden-xs">
      <div class="panel-heading">
        <h3 class="panel-title">About</h3>
      </div>
      <div class="panel-body">
        <p>
          In December 2014 I embarked on the journey of a lifetime, a trip to
          Antarctica with <a href="https://www.expeditions.com">Lindblad</a> 
          on board the <a href="https://www.expeditions.com/destinations/antarctica/ships/national-geographic-explorer/">
          National Geographic Explorer</a>.  It exceeded my wildest expectations
          in every way imaginable.
        </p>
      </div>
    </div> <!-- recent-posts -->

  </div> <!-- col4 -->
</div> <!-- row -->

<ul class="pager">
  <li class="previous {% unless page.prev %}disabled{% endunless %}">
    <a href="{{ page.prev }}">&larr; Previous</a>
  </li>
  <li class="next {% unless page.next %}disabled{% endunless %}">
    <a href="{{ page.next }}">Next &rarr;</a>
  </li>
</ul>
