<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Pre-connect to font server -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">

    <!-- SEO description and info -->
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{ canonical }}">

    <!-- Manifest and icons -->
    <link rel="icon" href="/images/favicon.ico">
    <meta name="theme-color" content="#37474F">

    <!-- Default twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ canonical }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <meta name="twitter:creator" content="@petele">

    <!-- Other sharing -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:url" content="{{ canonical }}">
    <meta property="og:description" content="{{ description }}">

    <!-- Styles -->
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700|Material+Icons" rel="stylesheet">

    <!-- page.url {{ page.url }} -->
    <!-- url {{ url }} -->
    <!-- metadata {{ metadata }} -->
    <!-- collections {{ collections}} -->

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">-->


    <!--<link rel="stylesheet" id="screen-css-1-1" href="https://s1.wp.com/wp-content/themes/pub/editor/inc/fontawesome/font-awesome.css?m=1404778013h&amp;cssminify=yes" type="text/css" media="screen">-->

</head>

<body>

<div id="page" class="hfeed site container">

	<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

	<header id="masthead" class="site-header" role="banner">
		<div id="tabs" class="toggle-tabs">
			<div class="site-header-inside">
				<!-- Logo, description and main navigation -->
				<div class="tab-content current animated fadeIn" role="tabpanel" aria-hidden="false">
					<div class="site-branding">
						<h1 class="site-title">
						  <a href="/" rel="home">Pete LePage</a>
						</h1>
						<h2 class="site-description">
						  Pete's thoughts on the web &amp; other stuff.
						</h2>
					</div>

					<nav id="site-navigation" class="main-navigation" role="navigation">
						<div class="menu-main-menu-container">
						  <ul id="menu-main-menu" class="menu">
						    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
						      <a href="/">Home</a>
						    </li>
              </ul>
            </div>
					</nav><!-- #site-navigation -->

          <div class="social-links" style="">
            <ul id="menu-social-links" class="menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom">
                <a href="https://mobile.twitter.com/petele"><span class="screen-reader-text">Twitter</span></a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom">
                <a href="https://github.com/petele"><span class="screen-reader-text">GitHub</span></a>
              </li>
            </ul>
          </div>
				</div><!-- #tab-1 -->
			</div><!-- .site-header-inside -->
		</div><!-- #tabs -->
	</header><!-- #masthead -->

	<div id="content" class="site-content animated-faster fadeIn">
	  <div id="primary" class="content-area">
		  <main id="main" class="site-main" role="main">

        <article class="post type-post status-publish format-standard hentry category-web tag-device-lab tag-googleio tag-mobile">
          <header class="entry-header">
				    <div class="entry-date">
				      <span class="posted-on">
				        <a href="/2014/07/07/google-i-o-2014-device-lab/" rel="bookmark">
                  <time class="entry-date published" datetime="2014-07-07T15:51:07+00:00">July 7, 2014</time>
                  <time class="updated" datetime="2018-10-16T16:24:19+00:00">October 16, 2018</time>
                </a>
              </span>
              <span class="byline">
                <span class="by">by</span>
                <span class="author vcard">
                  <a class="url fn n" href="/about/">Pete LePage</a>
                </span>
              </span>
            </div><!-- .entry-meta -->
		        <h1 class="entry-title">
		          <a href="/2014/07/07/google-i-o-2014-device-lab/" rel="bookmark">
		            Google I/O 2014 Device&nbsp;Lab
		          </a>
		        </h1>
		      </header><!-- .entry-header -->
          <div class="entry-meta">
            <ul class="meta-list">
						  <li class="meta-cat">
						    <a href="https://petele.wordpress.com/category/web/" rel="category tag">Web</a>
						  </li>
							<li class="meta-tag">
							  <a href="https://petele.wordpress.com/tag/device-lab/" rel="tag">device-lab</a>,
							  <a href="https://petele.wordpress.com/tag/googleio/" rel="tag">googleio</a>,
							  <a href="https://petele.wordpress.com/tag/mobile/" rel="tag">mobile</a>
							</li>
						</ul>
          </div>
          {{ content | safe }}
        </article>
		  </main>
		</div>
	</div>

	<footer id="colophon" class="site-footer" role="contentinfo">
	  <div class="site-inner">
  		<div class="site-about">
  		  I'm Pete LePage, a Developer Advocate at Google. I'm based in New York city,
  		  and focus my time helping developers create awesome mobile web experiences.
  		</div>
  		<div class="site-views">
  		  The views and content expressed on this site are mine alone and do not necessarily
  		  reflect the views of my employer, friends, family or pets. Except as otherwise noted,
  		  the content of this blog is licensed under the Creative Commons Attribution 3.0 License,
  		  and code samples are licensed under the Apache license.
  		</div>
  		<div class="site-updated">
  		  Site last updated: {{ lastUpdated }}
  		</div>
		</div>
	</footer><!-- #colophon -->
</div><!-- #page -->

<script>
  /* eslint-disable */
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  // ga('create', 'UA-9988000-4', 'auto');
  // ga('send', 'pageview', '{{ pageURL }}');
  /* esline-enable */
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>

</body>
</html>
