---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="post type-post status-publish format-standard hentry category-{{ categories }} {{ tags | tagClasses }}">
  <header class="entry-header">
    <div class="entry-date">
      <span class="posted-on">
        <a href="{{ page.url | url }}" rel="bookmark">
          <time class="entry-date published" datetime="{{ date }}">{{ date | shortDate }}</time>
          {% if dateUpdated %}
          <time class="updated" datetime="{{ dateUpdated }}">{{ dateUpdated | shortDate }}</time>
          {% endif %}
        </a>
      </span>
      <span class="byline">
        <span class="by">by</span>
        <span class="author vcard">
          <a class="url fn n" href="/about/">{{ metadata.author.name }}</a>
        </span>
      </span>
    </div><!-- .entry-meta -->
    <h1 class="entry-title">
      <a href="{{ page.url | url }}" rel="bookmark">
        {{ title }}
      </a>
    </h1>
  </header><!-- .entry-header -->
  <div class="entry-meta">
    <ul class="meta-list">
      <li class="meta-cat">
        <a href="/category/{{categories}}" rel="category tag">{{ categories }}</a>
      </li>
      <li class="meta-tag">
        {% for tag in tags %}
        <a href="/tags/{{tag}}" rel="tag">{{ tag }}</a>
        {% endfor %}
      </li>
    </ul>
  </div>
  <div class="entry-content">
    {{ content | safe }}
  </div>


</article>
