---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="entry-content">

{{ content | safe }}

  <div id="jp-post-flair" class="sharedaddy sd-like-enabled sd-sharing-enabled">
    <div class="sharedaddy sd-sharing-enabled">
      <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
        <h3 class="sd-title">Share this:</h3>
        <div class="sd-content">
          <ul>
            <li class="share-twitter">
              <a rel="nofollow noopener noreferrer" data-shared="sharing-twitter-40" class="share-twitter sd-button share-icon" href="https://petele.wordpress.com/2014/07/07/google-i-o-2014-device-lab/?share=twitter&amp;nb=1" target="_blank" title="Click to share on Twitter">
                <span>Twitter</span>
              </a>
            </li>
            <li class="share-facebook">
              <a rel="nofollow noopener noreferrer" data-shared="sharing-facebook-40" class="share-facebook sd-button share-icon" href="https://petele.wordpress.com/2014/07/07/google-i-o-2014-device-lab/?share=facebook&amp;nb=1" target="_blank" title="Click to share on Facebook">
                <span>Facebook</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="jp-relatedposts" class="jp-relatedposts" style="display: block;">
      <h3 class="jp-relatedposts-headline"><em>Related</em></h3>
      <div class="jp-relatedposts-items jp-relatedposts-items-minimal">
        <p class="jp-relatedposts-post jp-relatedposts-post0" data-post-id="58" data-post-format="false">
          <span class="jp-relatedposts-post-title">
            <a class="jp-relatedposts-post-a" href="https://petele.wordpress.com/2010/05/21/paper-flashing/" title="…" rel="nofollow" data-origin="40" data-position="0">
              Paper Flashing
            </a>
          </span>
          <span class="jp-relatedposts-post-context">In "Photography"</span>
        </p>
        <p class="jp-relatedposts-post jp-relatedposts-post1" data-post-id="60" data-post-format="false">
          <span class="jp-relatedposts-post-title">
            <a class="jp-relatedposts-post-a" href="https://petele.wordpress.com/2010/05/21/f-stop-printing/" title="…" rel="nofollow" data-origin="40" data-position="1">
              F-Stop Printing
            </a>
          </span>
          <span class="jp-relatedposts-post-context">In "Photography"</span>
        </p>
        <p class="jp-relatedposts-post jp-relatedposts-post2" data-post-id="56" data-post-format="false">
          <span class="jp-relatedposts-post-title">
            <a class="jp-relatedposts-post-a" href="https://petele.wordpress.com/2010/05/23/pete-vs-pete/" title="…" rel="nofollow" data-origin="40" data-position="2">
              Pete vs PEte
            </a>
          </span>
          <span class="jp-relatedposts-post-context">In "Personal"</span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- .entry-content -->
