---
title: Dive Sites
layout: layouts/post.njk
tags:
  - dive site
category: Scuba
---

<ul>
  {% for site in diveSites.Data | sort(false, true, 'Data.name') %}
  <li><a href="/scuba/sites/{{site.Data.name | slugify}}.html">{{ site.Data.name }}</a></li>
  {% endfor %}
</ul>
